<h1>Create a Team and Heroes!</h1>


<form method="post" action="/teams">
  <p><label for="team_name"> Team Name:</label>
  <input type="text" id="team_name" name="team[name]"></p>
  <p><label for="motto"> Team Motto:</label>
  <input type="text" id="motto" name="team[motto]"></p>
  <h2>Hero 1</h2>
  <p><label for="hero_1_name"> Hero's Name:</label>
  <input type="text" id="member1_name" name="team[heroes][][name]"></p>
  <p><label for="hero_1_power"> Hero's Power:</label>
  <input type="text" id="member1_power" name="team[heroes][][power]"></p>
  <p><label for="hero_1_bio"> Hero's Biography:</label>
  <input type="text" id="member1_bio" name="team[heroes][][bio]"></p>
  <h2>Hero 2</h2>
  <p><label for="hero_2_name"> Hero's Name:</label>
  <input type="text" id="member2_name" name="team[heroes][][name]"></p>
  <p><label for="hero_1_power"> Hero's Power:</label>
  <input type="text" id="member2_power" name="team[heroes][][power]"></p>
  <p><label for="hero_1_bio"> Hero's Biography:</label>
  <input type="text" id="member2_bio" name="team[heroes][][bio]"></p>
  <h2>Hero 3</h2>
  <p><label for="hero_3_name"> Hero's Name:</label>
  <input type="text" id="member3_name" name="team[heroes][][name]"></p>
  <p><label for="hero_3_power"> Hero's Power:</label>
  <input type="text" id="member3_power" name="team[heroes][][power]"></p>
  <p><label for="hero_1_bio"> Hero's Biography:</label>
  <input type="text" id="member3_bio" name="team[heroes][][bio]"></p>
  <p><input type="submit" value="submit"></p>
</form>

